*{
    background-color: skyblue;
}

@font-face {
    font-family: 'Sharon';
    src: url(Freedom-10eM.ttf);
}

h1{
    font-family: Sharon;
    font-size: 50px;
    text-align: center;
}
img{
    height: 50px;
}
.navbar {
    color: #fff; 
    padding: 10px;
    justify-content: space-between;
    display: flex;
    font-size: 40px;
}
.navbar a {
    text-decoration: none;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 40px; /* Reduce padding */
    margin: 0 40px; 
}