.card{
    background-color: aquamarine;
    display: inline-block;
    height: 200px;
    width: 350px;
    margin:20px;
}

#card1{
    background-color: rgb(195, 157, 234);
}

#card2{
    background-color: rgb(195, 157, 234);
}

#card3{
    background-color: rgb(195, 157, 234);
}