.card{
    background-color: aquamarine;
    display: inline-block;
    height: 200px;
    width: 350px;
    margin:20px;
    border: 4px solid black;
    border-style: double;
    font-size: 60px;
    text-align: center;
}



#card1{
    background-color: aquamarine;
    font-size: 10px;
}

#card2{
    background-color:  pink;
    font-size: 10px;
}

#card3{
    background-color:  aquamarine;
    font-size: 10px;
}

img{
    height: 80px;
    width: 80px;
    display:block;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
   }
.content{
    font-size:40px;
    font-family: cursive;
}
p{
    font-size:15px;
    font-weight: 100;
}